.sw{
    display: grid;
    justify-content: center;
    /* grid-template-columns: auto auto auto; */
}
#board_background{
    background-color: greenyellow;
    height: 40px;
    width: 250px;
    border: 2px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
}
#board{
    background-color: red;
    color: white;
    font-size: 24px;
    height: 40px;
    width: 150px;
    /* border-left: 3px solid black;
    border-right: 3px solid black; */
    border-radius: 30px;
    display: flex;
    align-items: center;
}
#switch{
    background-color: blue;
    border: 3px solid black;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    position: relative;
    left: 3px;
    transition: 0.5s ease;
    /* color: white;
    font-size: 24px;
    height: 40px;
    width: 150px;
    border: 5px solid black;
    border-radius: 10px; */
}
#switch:hover{
    cursor: pointer;
}
.on_off{
    margin: 0 5px;
    font-size: 30px;
}
#bulb{
    background-image: url(off.png);
    background-position: center;
    /* width: 800px; */
    height:500px;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.change #bulb{
    background-image: url(on.png);
    height:500px;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.change #switch{
    background-color: blue;
    height: 35px;
    width: 35px;
    position: relative;
    left: 112px;
    transition: 0.5s ease;
    /* color: white;
    font-size: 24px;
    height: 40px;
    width: 150px;
    border: 5px solid black;
    border-radius: 10px; */
}


/* ###################  OPTIONAL  ################ */
/* .change #off:hover{
    cursor: pointer;
} */    
.change2 #bulb{
    background-image: url(off.png);
    background-position: center;
    height:500px;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.change2 #switch{
    background-color: blue;
    height: 35px;
    width: 35px;
    position: relative;
    left: 3px;
    transition: 0.5s ease;
}
/* .change2 #on:hover{
    cursor: pointer;
} */